body{
    display : table-cell;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

   
body.receipt{
    background-color: wheat;
}
th{
    text-align: center;
    background-color: cadetblue;
}
